.border{
    border: 1px;
    background-color: blcak;

}

.parent{
    width: 300px;
    height: 150px;
    border: 1px solid rgba(11, 236, 67, 0.548);
    border-width: 4px;
    

}

.child{
    width: 50px;
    height: 50px;
    border: 1px solid black;

}

.bg-info{
    background-color: blueviolet;
}

.bg-col{
    background-color: brown;
}

.bg-success{
    background-color:chocolate;

}

.bg-warning{
    background-color: darkgray;

}
